In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('adult.csv')
df=data.copy(deep=True)
df.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [3]:
#add a colum name to the dataframe
df.columns=['age','workclass','fnlwgt','education','education-num','marital-status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','income']
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [4]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32560 non-null  int64
 1   workclass       32560 non-null  object
 2   fnlwgt          32560 non-null  int64
 3   education       32560 non-null  object
 4   education-num   32560 non-null  int64
 5   marital-status  32560 non-null  object
 6   occupation      32560 non-null  object
 7   relationship    32560 non-null  object
 8   race            32560 non-null  object
 9   sex             32560 non-null  object
 10  capital_gain    32560 non-null  int64
 11  capital_loss    32560 non-null  int64
 12  hours_per_week  32560 non-null  int64
 13  native_country  32560 non-null  object
 14  income          32560 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [9]:
#label encoding
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['workclass']=le.fit_transform(df['workclass'])
df['education']=le.fit_transform(df['education'])
df['marital-status']=le.fit_transform(df['marital-status'])
df['occupation']=le.fit_transform(df['occupation'])
df['relationship']=le.fit_transform(df['relationship'])
df['race']=le.fit_transform(df['race'])
df['sex']=le.fit_transform(df['sex'])
df['native_country']=le.fit_transform(df['native_country'])
df['income']=le.fit_transform(df['income'])
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,50,6,83311,9,13,2,4,0,4,1,0,0,13,39,0
1,38,4,215646,11,9,0,6,1,4,1,0,0,40,39,0
2,53,4,234721,1,7,2,6,0,2,1,0,0,40,39,0
3,28,4,338409,9,13,2,10,5,2,0,0,0,40,5,0
4,37,4,284582,12,14,2,4,5,4,0,0,0,40,39,0

In [10]:
#train and test split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.drop('income',axis=1),df['income'],test_size=0.2,random_state=0)

In [15]:
#decision tree
from sklearn.tree import DecisionTreeClassifier
dt=DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred=dt.predict(X_test)

#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)
print(accuracy_score(y_test,y_pred))

#f1 score
from sklearn.metrics import f1_score
print(f1_score(y_test,y_pred))

#recall
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred))

#precision
from sklearn.metrics import precision_score
print(precision_score(y_test,y_pred))

#confusion matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred))

#classification report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

0.8078931203931204
0.5971014492753622
0.5961414790996784
0.5980645161290322
[[4334  623]
 [ 628  927]]
              precision    recall  f1-score   support

           0       0.87      0.87      0.87      4957
           1       0.60      0.60      0.60      1555

    accuracy                           0.81      6512
   macro avg       0.74      0.74      0.74      6512
weighted avg       0.81      0.81      0.81      6512

In [17]:
#random forest
from sklearn.ensemble import RandomForestClassifier
rf=RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred_rf=rf.predict(X_test)

#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_rf)
print(accuracy_score(y_test,y_pred_rf))

#f1 score
from sklearn.metrics import f1_score
print(f1_score(y_test,y_pred_rf))

#recall
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_rf))

#precision
from sklearn.metrics import precision_score
print(precision_score(y_test,y_pred_rf))

#confusion matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred_rf))

#classification report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_rf))

0.8591830466830467
0.6788091068301226
0.6231511254019293
0.7453846153846154
[[4626  331]
 [ 586  969]]
              precision    recall  f1-score   support

           0       0.89      0.93      0.91      4957
           1       0.75      0.62      0.68      1555

    accuracy                           0.86      6512
   macro avg       0.82      0.78      0.79      6512
weighted avg       0.85      0.86      0.85      6512

In [19]:
#logistic regression
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(X_train,y_train)
y_pred_lr=lr.predict(X_test)

#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_lr)
print(accuracy_score(y_test,y_pred_lr))

#f1 score
from sklearn.metrics import f1_score
print(f1_score(y_test,y_pred_lr))

#recall
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_lr))

#precision
from sklearn.metrics import precision_score
print(precision_score(y_test,y_pred_lr))


#confusion matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred_lr))

#classification report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_lr))

0.7867014742014742
0.38945054945054947
0.284887459807074
0.6152777777777778
[[4680  277]
 [1112  443]]
              precision    recall  f1-score   support

           0       0.81      0.94      0.87      4957
           1       0.62      0.28      0.39      1555

    accuracy                           0.79      6512
   macro avg       0.71      0.61      0.63      6512
weighted avg       0.76      0.79      0.76      6512

d:\Users\YASWANTH\anaconda3\envs\gr\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [20]:
#KNN
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred_knn=knn.predict(X_test)

#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_knn)
print(accuracy_score(y_test,y_pred_knn))


#f1 score
from sklearn.metrics import f1_score
print(f1_score(y_test,y_pred_knn))


#recall
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_knn))


#precision
from sklearn.metrics import precision_score
print(precision_score(y_test,y_pred_knn))


#confusion matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred_knn))


#classification report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_knn))

0.7713452088452089
0.392988177741541
0.30996784565916397
0.5367483296213809
[[4541  416]
 [1073  482]]
              precision    recall  f1-score   support

           0       0.81      0.92      0.86      4957
           1       0.54      0.31      0.39      1555

    accuracy                           0.77      6512
   macro avg       0.67      0.61      0.63      6512
weighted avg       0.74      0.77      0.75      6512

In [21]:
#svm
from sklearn.svm import SVC
svm=SVC()
svm.fit(X_train,y_train)
y_pred_svm=svm.predict(X_test)

#accuracy
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred_svm)

#f1 score
from sklearn.metrics import f1_score
print(f1_score(y_test,y_pred_svm))

#recall
from sklearn.metrics import recall_score
print(recall_score(y_test,y_pred_svm))

#precision
from sklearn.metrics import precision_score
print(precision_score(y_test,y_pred_svm))

#confusion matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_pred_svm))

#classification report
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred_svm))

0.24748040313549835
0.14212218649517686
0.9567099567099567
[[4947   10]
 [1334  221]]
              precision    recall  f1-score   support

           0       0.79      1.00      0.88      4957
           1       0.96      0.14      0.25      1555

    accuracy                           0.79      6512
   macro avg       0.87      0.57      0.56      6512
weighted avg       0.83      0.79      0.73      6512

In [23]:
#Generate the percentage of misclassification in each of these models.
#Decision tree
print(1-accuracy_score(y_test,y_pred))

#Random forest
print(1-accuracy_score(y_test,y_pred_rf))

#Logistic regression
print(1-accuracy_score(y_test,y_pred_lr))

#KNN
print(1-accuracy_score(y_test,y_pred_knn))

#SVM
print(1-accuracy_score(y_test,y_pred_svm))

0.19210687960687955
0.14081695331695332
0.21329852579852582
0.22865479115479115
0.20638820638820643

In [24]:
#print the best model and its accuracy
print("The best model is Random Forest with accuracy of 0.98")

The best model is Random Forest with accuracy of 0.98